{% extends 'base/base.html' %}
{% load static %}

<!-- Header -->
{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}



<!-- Page header -->
{% block page_header %}

<header class="page-header">
	<h1 class="page-title">{{title}}</h1>
</header>

{% endblock %}



<!-- Main content -->
{% block content %}

<!-- Content 1: Form -->
<h2>Sign up</h2>
<form method="post">
{% csrf_token %}
	{% for field in form %}
	<p>
	{{ field.label_tag }}<br>
	{{ field }}
	{% if field.help_text %}
		<small style="display: none">{{ field.help_text }}</small>
	{% endif %}
	{% for error in field.errors %}
		<p style="color: red">{{ error }}</p>
	{% endfor %}
	</p>
	{% endfor %}
<button type="submit">Sign up</button>
</form>

{% endblock %}



<!-- Custom CSS styles file(s) -->
{% block style %}

{% endblock %}



<!-- Custom JavaScript file(s) -->
{% block scripts %}

{% endblock %}
