{% extends 'base/base.html' %}

{% block title %}

<title>Placeholder</title>

{% endblock %}


{% block style %}

{% endblock %}


{% block header %}

<header id="head" class="secondary"></header>

{% endblock %}


{% block content %}

<!-- container -->
<div class="container">

	<ol class="breadcrumb">
		<li><a href="{% url 'home' %}">Accueil</a></li>
		<li><a href="{% url 'profile_detail' %}">Profil</a></li>
		<li class="active"><a href="{% url 'profile_detail' %}">Modifier mon profil</a></li>
	</ol>

	<!-- Article main content -->
	<article class="col-xs-12 maincontent">
		<header class="page-header">
			<h1 class="page-title">Profil</h1>
		</header>
		
		<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-default">
				<div class="panel-body">
					<h3 class="thin text-center">Supprimer mon groupe</h3>
					<p class="text-center text-muted">Voulez-vous revenir à votre profil? <a href="{% url 'groups_detail' %}">Cliquez ici.</a></p>
					<hr>

					<div class="row">
						<div class="col-lg-6 text-left">
								<button class="btn btn-action" onclick="window.location.href='{% url 'groups_detail' %}'">Annuler
						</div>
						<div class="col-lg-6 text-right">
							<form action="" method="post">
								{% csrf_token %}
								<button class="btn btn-action" type="submit">Confirmer</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</article>
	<!-- /Article -->

</div>	<!-- /container -->

{% endblock %}
